<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @basic_category.name %>
</p>

<%= link_to 'Edit', edit_basic_category_path(@basic_category) %> |
<%= link_to 'Back', basic_categories_path %>
