<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Stgo Office</a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%=root_path %>">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">All Orders</a>
      <a class="nav-item nav-link" href="#">All Products</a>
      <a class="nav-item nav-link" href="#">All Clients</a>
      <a class="nav-item nav-link" href="#">Sellers </a>
      <a class="nav-item nav-link" href="#">Pending payments</a>
      <a class="nav-item nav-link" href="#">Summary</a>
      <a class="nav-item nav-link" href="#"> Quotations</a>
      <a class="nav-item nav-link" href="#"> New Quotation</a>


      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
