<nav class="navbar fixed-top navbar-expand-sm bg-dark">
<li class="navbar-brand">
    <a class="btn text-light"href="<%= root_path %>#"><h4>StgoOffice</h4></a>
</li>
<li>
  <a href="#menu-toggle" class="btn btn-outline-light btn-sm" id="menu-toggle"><i class="fa fa-ellipsis-h"></i></a>
</li>
<ul class="navbar-nav ml-auto">

  <li> <a class="btn text-light" href="#">Banco de Chile</a> </li>
  <li> <a class="btn text-light" href="#">Motoboy </a> </li>
  <li> <a class="btn text-light" href="#">TNT</a> </li>
  <li> <a class="btn text-light" href="#">DHL</a> </li>
  <li> <a class="btn text-light" href="#">FEDEX</a> </li>

  <li>
    <button class="btn btn-light btn-sm">
  Logout  <span><i class="fa fa-fw fa-sign-out"></i></span>
</button>
  </li>
</ul>
</nav>
